<html>
<head>
	<title>ADMIN PANEL</title>
</head>
<body>

<h3><center>ADMIN PANEL</center></h3>

<center>
	<font color="blue"><H2>ROUNDS PART</H2></font>
	<form method="POST" action="/admin_control/">
	{% csrf_token %}
	CURRENT ROUND : <B><font color="red">{{current_round}}</B></font>
    <br>
    <br>
    <B>NOTE: DISABLE TRADE BEFORE CHANGING ROUND</B>
    <br>
    <label>CHANGE ROUND:</label>
    		<select name ="round">
    		<option value = 1>round 1</option>	
    		<option value = 2>round 2</option>
    		<option value = 3>round 3</option>
            <option value = 4>round 4</option>	
    		</select>
    <BR>
    <input type="submit" name="submit" value="CHANGE ROUND" />
    <BR>
    <br>
   <font color="blue"> <H2>TRADING PART</H2></font>
	<form method="POST" action="/admin_control/">
	{% csrf_token %}
	CURRENT STATUS : 
    <font color="red">
    {%if trade_enable%}
    <h3>TRADE ENABLED</h3>
    {%else%}
    <h3>TRADE DISABLED</h3>
    {%endif%}
    
    </font>

    <label>CHANGE STATUS:</label>
    		<select name ="status">
    		<option value = 1>ENABLE TRADE</option>	
    		<option value = 0>DISABLE TRADE</option>
    		</select>
    <br>
    <input type="submit" name="submit" value="CHANGE STATUS" />
 
    <br>
    <font color="blue"><H2>SETPRICE[DURING ROUND]</H2></font>
	<form method="POST" action="/admin_control/">
	{% csrf_token %}
	NOTE: make sure trading in disabled
    <br>
	<input type="submit" name="submit" value="SET PRICE[DURING ROUND]" /> 
    <br>
    <font color="blue"><H2>SETPRICE[AFTER ROUND]</H2></font>
    <form method="POST" action="/admin_control/">
    {% csrf_token %}
    NOTE: make sure trading in disabled
    <br>
    <input type="submit" name="submit" value="SET PRICE[AFTER ROUND]" /> 
</center>




</form>
</body>
</html>