<html>
<head>
	<title>FD Bitsian Registration</title>
</head>
<body>
	<h1><center>REGISTER HERE</center></h1>
	<br>
	<h2><center>Registration for First Degree Bitsians</center></h2>
	<br>
	<h3> Id Number Format: 15059</h3>

	<form id="form" method="post" action="register/bits">
	{% csrf_token %}
	{% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                <center>{{ field.errors }}
                {{ field.help_text }}
                {{ field }}</center>
            {% endfor %}
	

	<center><input type="submit" value="Register"/></center>

	



</form>
</body>

</html>