<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
  <title>General Registration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{%static "bootstrap-3.3.7-dist/css/bootstrap.min.css"%}">
  <script src="{%static "jquery.js"%}"></script>
  <script src="{%static "bootstrap-3.3.7-dist/js/bootstrap.min.js" %}"></script>
</head>
<body>

<div class="container">
  <h2>Register Here (Others)</h2>
  <form id="form">
    <div class="form-group">
      <label for="ID 1 ">ID 1/ Name 1:</label>
      <input type="text" class="form-control" id="id1" name="id1" placeholder="Enter First ID" required>
    </div>
    <div class="form-group">
      <label for="ID 2">ID 2/ Name 2:</label>
      <input type="text" class="form-control" id="id2" name="id2" placeholder="Enter Second ID">
    </div>
    <div class="form-group">
      <label for="">Contact Number:</label>
      <input type="number" class="form-control" id="contact" name="contact" placeholder="Enter Contact Number" min="1000000000" max="9999999999" required>
    </div>
    <button type="submit" value="Register" class="btn btn-default">Register</button>
  </form>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Response</h4>
      </div>
      <div class="modal-body">
      Error!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
<script>
$('#form').submit(function(e){
  e.preventDefault();
  $.ajax({
    url: "/register/other",
    type: 'POST',
    dataType: "html",
    data: {id1: $('#id1').val(), id2: $('#id2').val(), contact: $('#contact').val()},
    success: function(response) {
      $('#myModal').find('.modal-body').html(response);   
      $('#myModal').modal(); 
      $('#id1').val("");
      $('#id2').val("");
      $('#contact').val("");
    },
    error: function(){
      $('#myModal').find('.modal-body').html(response);
      $('#myModal').modal();
    }
  });
});
  </script>


</body>
</html>
