<html>
<head>
	<title>registration page</title>
</head>
<body>
	{%if registered%}
	<br>
	<center>REGISTRATION SUCESS</center>
	<br>
	<BOLD><center>TEAM NO:{{team_no}}</center></BOLD>
     <br>
	<BOLD><center>password:{{password}}</center></BOLD>


	{%else%}
	<h1><center>REGISTER HERE</center></h1>
	<br>
	<h3> Id Number Format: 15059</h3>

	<form id="form" method="post" action="register/bits">
	{% csrf_token %}
	{% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                <center>{{ field }}
            {% endfor %}
	

	<center><input type="submit" value="Register"/></center>

	{%endif%}
	



</form>
</body>

</html>